<h1>Search our great selection of products</h1>
<br>
<label for="productCategory">Category: </label>
<select name="productCategory" id="productCategory" [(ngModel)]="category">
<option value="TECH">TECH</option>
<option value="PETS">PETS</option>
<option value="KITCHEN">KITCHEN</option>
<option value="OFFICE">OFFICE</option>
</select>
<br>
<label>Product Name: </label>
<input type = "text" placeholder="search" id="productName" [(ngModel)]="productName">
<br>
<button (click)=browseProducts()>Browse Products</button>

<div *ngIf="(category || productName) && hasBeenClick">
    <div *ngIf="products.length != 0; else elseblock">
    <div *ngFor="let product of products">
        <h3 (click)="productInformation(product)" [ngClass]="{'pointer-cursor': isClickable}">
            {{product.productName}}</h3>
        <div *ngIf="product.discount != 0; else nonDiscountPrice">
            <p>Price: ${{(product.price * product.discount) | number: '1.2-2'}}</p>
        </div>
        <ng-template #nonDiscountPrice>
            <p>Price: ${{product.price}}</p>
        </ng-template>
        <p> Stock: {{product.stock}}</p>
        <div *ngIf="product.biddable">
            <p>Current bid price: ${{product.currentBid}}</p>
        </div>
        <button (click)="showMoreInfo(product)" type="button">
            {{!product.showMore?"Show More":"Show Less"}}
        </button>
        <button (click)="addToCart(product)">Add to Cart</button>
        <div *ngIf="product.biddable">
            <button (click)="makeBid(product.productId)">Place bid</button>
        </div>
        <ng-container *ngIf="product.showMore">
            <p> Weight: {{product.weight}} lbs</p>
            <p> Description: {{product.description}}</p>
        </ng-container>
        </div>
    </div>
    <ng-template #elseblock>No results...</ng-template>
</div>
