/* General Table Styling */
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px 15px; /* Add space between rows */
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    table-layout: fixed; /* Set table layout to fixed to allow for wrapping */
}

th, td {
    background-color: #807979d8;
    padding: 15px; /* More padding for a spacey look */
    text-align: left;
    border-radius: 15px; /* Rounded corners for a bubbly effect */
    border: none;
    overflow: hidden; /* Added to handle overflow */
}

td {
    height: 50px; /* Adjust as needed */
    line-height: 50px; /* Adjust as needed */
}

th {
    background-color: #239b4d; /* Soft color for the header */
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Zebra Striping for Rows */
tbody tr:nth-child(odd) {
    background-color: #8a8585;
}

tbody tr:hover {
    background-color: #f4f4f4; /* Light hover effect on rows */
}

/* Styling for static text and input fields */
td span, td input[type="number"] {
    display: inline-block;
    vertical-align: middle;
    height: 20px; /* Adjust as needed */
    line-height: 20px; /* Adjust as needed */
    padding: 4px 8px; /* Adjust as needed */
}

/* Specific style for input fields */
td input[type="number"] {
    width: 50%; /* Adjust width as needed */
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    display: none; /* Hide the input field initially */
}

/* Show input field when editing */
tr.editing td input[type="number"] {
    display: inline-block;
}

/* Button Styling */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px; /* Rounded */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05); /* Slight grow effect */
}

/* Header Style */
h2 {
    color: #333;
    font-family: Arial, sans-serif;
}

/* Edit Button Container */
.edit-button-container {
    display: flex; /* Use flexbox for side-by-side alignment */
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
    height: 100%; /* Full height of the cell */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
}

.edit-cell {
    position: relative; /* Set relative positioning for the parent */
    width: 150px; /* Adjust as needed for button width */
}

/* Show buttons on row hover */
tbody tr:hover .edit-button-container {
    opacity: 1;
}
