<p>List a product for sale:</p>

<label for="productCategory">Category: </label>
    <select name="productCategory" id="productCategory" [(ngModel)]="category">
    <option value="TECH">TECH</option>
    <option value="PETS">PETS</option>
    <option value="KITCHEN">KITCHEN</option>
    <option value="OFFICE">OFFICE</option>
    </select><br>

<input type="text" id="productName" [(ngModel)] = "productName" placeholder="Product name">
<br>

<input type="text" id="producePrice" [(ngModel)] = "price" placeholder="Price" onkeypress="return /[0-9.]/i.test(event.key)">
<br>

<input type="text" id="productWeight" [(ngModel)] = "weight" placeholder="Weight" onkeypress="return /[0-9.]/i.test(event.key)">
<br>

<input type="text" id="productStock" [(ngModel)] = "stock" placeholder="Stock" onkeypress="return /[0-9]/i.test(event.key)">
<br>

<input type="text" id="productDiscount" [(ngModel)] = "discount" placeholder="Discount" onkeypress="return /[0-9.]/i.test(event.key)">
<br>

<input type="text" id="productDescription" [(ngModel)] = "description" placeholder="Description">
<br>

<button (click)="postProduct()">Post product for sale!</button>