<h1>{{currentProduct.productName}}</h1>

<div *ngIf="currentProduct.discount != 0; else elseblock">
<h3>Price: ${{(currentProduct.price * currentProduct.discount) | number: '1.2-2'}}</h3>
<h5>List Price: <s>${{currentProduct.price}}</s></h5>
</div>
<ng-template #elseblock>
    <h3>Price: ${{currentProduct.price}}</h3>
</ng-template>

<p>Stock: {{currentProduct.stock}}</p>
<p>Weight: {{currentProduct.weight}} lbs</p>
<p>Description: {{currentProduct.description}}</p>
<br>
<p>Review:</p>
<div *ngFor="let review of reviews">
<p> User: {{review.accountName}}</p>
<p> Rating: {{review.rating}}</p>    
<p> Review: {{review.reviewText}}</p>
<!--Just a placeholder until we how to organize the reviews-->
<p>------------------------------</p>
</div>
<br>
<p (click)="returnToBrowsingList()" [ngClass]="{'pointer-cursor': isClickable}">Return to browsing list</p>
